{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 160,
  "endOfLine": "auto",
  "insertFinalNewline": false,
  "singleAttributePerLine": false,
  "arrowParens": "avoid"
}
